{% set chequeDate = cheque.chequeDateArray %}

<div class="content">
    <p class="small-txt"></p>
    
    <table class="summary">
        <tr>
            
            <td style="padding-left:{{bank.date_position_x}}px; padding-top: {{bank.date_position_y}}px;">{% for number in chequeDate %}
                {{ number }}
                {% endfor%}
            </td>
            
        </tr>
        <tr>
            <td style="padding-left:{{bank.payee_position_x}}px; padding-top: {{bank.payee_position_y}}px;">{{ cheque.payee }}</td>
        </tr>
        <tr>
            <td style="padding-left:{{bank.amount_position_x}}px; padding-top: {{bank.amount_position_y}}px;">{{ cheque.chequeAmountWord }}</td>
            <td style="padding-left:{{bank.amount_position_x}}px; padding-top: {{bank.amount_position_y}}px;">{{ cheque.chequeAmount}}</td>
        </tr>
    </table>

    <!-- <p class="company-info">
        <strong>Happy Customer - Acme GmbH</strong><br>
        <strong>Elbstr. 2</strong><br>
        <strong>041340 Berlin</strong>
    </p>

    <p class="customer-info">
        <strong>Kundennummer:</strong> 1211<br>
        <strong>Rechnungsnummer:</strong> 2015-ADG-1612<br>
        <strong>Datum:</strong> 18.03.2015<br>
        <strong>Zahlungsbedingungen:</strong> 2 Tage ohne Abzug<br>
        <strong>Fällig am:</strong> 20.03.2015
    </p>
    <table class="summary">
        <tr>
            <th>Menge</th>
            <th>Beschreibung</th>
            <th>Preis</th>
            <th>Anzahlung 30%</th>
        </tr>
        <tr>
            <td class="col-1">1</td>
            <td class="col-2">4 Holzfenster</td>
            <td class="col-3">26.653,69 &euro;</td>
            <td class="col-4">7.996,11 &euro;</td>
        </tr>
        <tr>
            <td class="col-1">1</td>
            <td class="col-2">4 Holzfenster</td>
            <td class="col-3">26.653,69 &euro;</td>
            <td class="col-4">7.996,11 &euro;</td>
        </tr>
        {% for i in 0..5 %}
            <tr>
                <td class="col-1">&nbsp;</td>
                <td class="col-2"></td>
                <td class="col-3"></td>
                <td class="col-4"></td>
            </tr>
        {% endfor %}
        <tr class="sum-price">
            <td colspan="3" class="col-3 bt">Netto</td>
            <td class="col-4">7.996,11 &euro;</td>
        </tr>
        <tr class="sum-price">
            <td colspan="3" class="col-3">zzgl. 19% MwSt.</td>
            <td class="col-4">1.519,26 &euro;</td>
        </tr>
        <tr class="sum-price">
            <td colspan="3" class="col-3"><strong>Gesamt</strong></td>
            <td class="col-4">9.515,37 &euro;</td>
        </tr>
    </table>
    <p><strong>Vielen Dank für Ihren Auftrag</strong></p>

    <p>Gerichtsstand für alle Ansprüche aus diesem Auftrag ist Berlin.</p>
</div> -->